NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_API_SECRET=
CRON_SECRET=
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT=ca-pub-1679412386569499
NEXT_PUBLIC_GOOGLE_ADSENSE_SLOT_TOP=
NEXT_PUBLIC_GOOGLE_ADSENSE_SLOT_GAME=
NEXT_PUBLIC_GOOGLE_ADSENSE_SLOT_RANKING=
